* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway',sans-serif;
}

header {
    background-color: #f5f5f5;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    color: gray;
}

.login {
    display: flex;
    align-items: center;
}

.language {
    display: flex;
    align-items: center;
}

.language p {
    margin-right: 5px;

}

.language img {
    width: 20px;
    height: auto;
    margin: 0 10px;
}

.language i {
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 0 20px 0 0;
}

header p {
    font-size: 14px;
    font-weight: lighter;
}


.container1 {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 150px; 
    border: 1px solid  #f5f5f5;
    height: 100px;
    color: gray ;
}

p{
    color: gray ;
    font-size: 14px;
    font-weight: 400;
}

.logo img {
    height: 55px; 
}

.favorites-cart {
    display: flex;
    align-items: center; 
}

.favorites, .cart, .follow-us {
    display: flex;
    align-items: center; 
    margin-right: 20px;
}

.separator {
    margin: 0 10px; 
    font-weight: bold; 
    color: gray ;
}

.follow-us i {
    margin-left: 5px; 
    font-size: 20px; 
    color: #333; 
   
}

.follow-us{
    padding: 0 0 0 20px;
    color: gray ;
}


.favorites i, .cart i {
    margin-right:  5px; 
    font-size: 20px; 
    padding: 0 20px;
    color:  red;
}

#Number:hover {
    background-color:  red;
}

#Number {
    padding: 0 10px;
    background-color: gray;
    color: white;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.container2 {
    display: flex;                   
    align-items: center;           
    justify-content: flex-start;    
    padding: 10px 135px;           
    height: 80px;
}

.container2 p {
    margin: 0 10px;                 
    font-size: 12px;                 
    color: gray; 
    cursor: pointer;                    
}

.container2 :hover{
    color: red;
}

.container2 i {
    margin: 0 5px;                 
    font-size: 16px;                 
}

#space {
    margin-left: 45px;
}

#color {
    color: red;
}

.search-container {
    display: flex;                  
    align-items: center;           
    margin-left: auto; 
     
              
}

.search-input {
    padding: 5px 10px;             
    border: 1px solid #f5f5f5;                  
    font-size: 12px;    
    height: 40px; 
           
}

.search-icon {
    font-size: 50px;               
    margin-left: 5px;              
    cursor: pointer;  
    background-color: rgb(224, 53, 53);   
    color: white;          
    width: 38px;
    height: 40px;
    
    
}

#large {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: bold;
}

.new {
    position: relative;              
    text-align: center;            
    padding: 20px;  
    background-color: #e9e4dc82;                
}

.new h1 {
    position: absolute;             
    top: 10px;                      
    left: 50%;                     
    transform: translateX(-50%);    
    color: black;                   
    font-size: 50px;                
    z-index: 2;                     
    padding: 50px 0;
    font-weight: 400;
}

.new img {
    display: block;                 
    margin: 0 auto;                
    max-width: 100%;              
    height: auto;                  
    padding: 100px 0 10px 0;
}

.new p {
    margin: 20px 0;                
    font-size: 15px;
    color: black;
}

button {
    display: block;                
    margin: 20px auto;           
    padding: 10px 20px;          
    background-color: #db1a64;    
    color: white;                  
    border: none;                  
    height: 50px;
    cursor: pointer;               
    font-size: 16px;             
}

button:hover {
    border:2px solid #db1a64;   
    background-color: white ;  
    color: #db1a64;
}

span{
    font-weight: bold;
}

#down{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.container div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.box {

    margin: 0 10px; 
    padding: 20px;
    text-align: center;
    background-color: #b7b1a8; 
    color: white;
    transition: background-color 0.3s ease; 
}


.box:hover {
    background-color: #f5f5f5; 
}

#blue {
    background-color: gray;
}

.container3 {
    display: flex;                        
    justify-content: space-between;      
    gap: 2px;     
    margin-top: 30px;  
    padding: 20px 130px;                    
}
.product {
    position: relative;               
    flex: 1;   
    background-color: #e9e4dc82; 
    padding: 30px;
     
}                       

.product img {
    width: 300px;                         
    height: 300px;                        
    display: block;                      
}

.price {
    position: absolute;                
    top: 10px;                         
    right: 10px;                          
    padding: 5px;                        
    font-size: 16px;                   
    color: rgb(248, 52, 84);                      
}
.product h2{
    text-align: center;
    padding: 20px;
    font-size: 20px;

}
.product h2:hover{
    color: rgb(248, 52, 84); 
}

.product h3 {
    text-align: center;
    font-size: 13px;
    color: gray;
}

.container4 {
    display: flex;                
    align-items: center;      
    padding: 0 100px;   

}

.box {
    height: 250px;
    flex: 1;       
    margin: 0;  
    padding: 100px 100px;                        
    background-color: rgb(101, 99, 99);
    border: 1px solid #ddd;   
    text-align: center;        
    font-size: 18px;    
    justify-content: center; 
    align-items: center;   
   
}

#moon {
    color: black;
    background-color: #b7b1a83f;
}

.pro {
    display: flex;                      
    flex-direction: column;            
    align-items: center;              
    text-align: center;               
    padding: 40px 200px 0px 200px ;                     
}
    

.pro img {
    max-width: 100%;                  
    height: auto;                      
    margin: 10px 0;                   
}

.pro p {
    margin: 10px 0;                  
    color: grey;                     
    font-size: 16px;  

}

#life {
    font-size: 30px;
    font-weight: 500;
    color: black;
}

footer {
    
    color: white;
    padding: 20px;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
    color: black;
    font-size: 15px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    color: grey;
    cursor: pointer;
}

.footer-section ul:hover{
    color: red;
}

.footer-section ul li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.footer-section a {
    color: #f5f5f5;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.foot i{
    
    font-size: 25px;
    text-align: center;
    padding: 15px 6px;

}

.foot {
    text-align: center;
}

